@model ListaPaginada<TitanicPassenger>

@{
    ViewData["Title"] = "Titanic";
}

<h1>Pasajeros del Titanic</h1>

<div class="row m-5">
    <div class="col-md-6">
        <form class="d-flex" asp-controller="Titanic" asp-action="Index" asp-route-filtroDeClase="@Model.opcionSeleccionada">
            <label for="p_class">Filtrar según la clase en que viajaban: </label>
            <select name="filtroDeClase" class="form-control me-1 disabled" 
                    asp-items="@Model.opcionesDeFiltro" asp-for="@Model.opcionSeleccionada">
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Clase en la que viajaba
            </th>
            <th>
                ¿Sobrevivió?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.getElementosDeLaPaginaActual()) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Age
            </td>
            <td>
                @item.Pclass
            </td>
            <td>
                @(item.Survived == "0" ? "No" : "Si")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PassengerId">Ver detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<div class="row">
    <nav>
        <ul class="pagination justify-content-end">
            <p class="text-info m-2">Página @Model.paginaActual , <small>de @Model.cantidadDePaginas</small></p>
            <li class="page-item @(Model.paginaActual == 1 ? "disabled": "")">
                <a class="page-link" asp-route-paginaAMostrar="1" asp-route-filtroDeClase="@Model.opcionSeleccionada">
                    <span>Ir a la primera página</span>
                </a>
            </li>
            <li class="page-item @(Model.paginaActual == 1 ? "disabled": "")">
                <a class="page-link" asp-route-paginaAMostrar="@(Model.paginaActual - 1)" asp-route-filtroDeClase="@Model.opcionSeleccionada">
                    <span>Atras</span>
                </a>
            </li>
            <li class="page-item @(Model.paginaActual == Model.cantidadDePaginas ? "disabled": "")">
                <a class="page-link" asp-route-paginaAMostrar="@(Model.paginaActual + 1)" asp-route-filtroDeClase="@Model.opcionSeleccionada">
                    <span>Adelante</span>
                </a>
            </li>
            <li class="page-item @(Model.paginaActual == Model.cantidadDePaginas ? "disabled": "")">
                <a class="page-link" asp-route-paginaAMostrar="@Model.cantidadDePaginas" asp-route-filtroDeClase="@Model.opcionSeleccionada">
                    <span>Ir a la última página</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
